*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}

a{
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

/* MAIN CONTAINER */

.container{
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 100vh 100vh 230vh 60vh 60vh 20vh;
    grid-template-areas: 
    "header"
    "about"
    "copywriting"
    "content"
    "stack"
    "touch"
    "footer";
    
    
    margin: 0 auto;
    background-color: #1F2125;
    color: #E8DFCE;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
  
    }



/* header */

#header{
    width: 100vw;
    min-height: 100vh;

    grid-area: header;
}



nav{
    

    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.nav-ul{
    list-style-type: none;
    width: 100vw;
    height: 50vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(10rem);
    
    margin: 2rem auto;

    clip-path: circle(0px);
    --wekbkit-clip-path: circle(0px);
    opacity: 98%;
    transition: all 1s ease-in;
}

.nav-ul.open{

    clip-path: circle(450px);
    --wekbkit-clip-path: circle(450px);
    height: 130vh;
    /*background-color: #1F2125;*/
    background-color: black;
    z-index: 90;
}

.nav-ul li{
color: white;
transform: translateX(-1rem);
}

.about-li{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.copywriting-li{
    padding-bottom: 5rem;
}

.content-li{
    padding-bottom: 5rem;
}



.fa-bars{
    transform: scale(2);
    cursor: pointer;
    z-index: 30;
    

   
}

.nav-logo{
    display: inline;
    max-width: 20vw;
    max-height: 8vh;
    transform: scale(0.5);
    
    
}

.logo-burga{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;

}


.fedebarbieri-h1{
    
    
  font-family: noka, sans-serif;

  font-weight: 100;
  
  font-style: normal;
  text-align: center; 
  margin: 2rem auto 1rem auto;
  font-size: 5rem;
}

.span-fede{
    
    
  font-family: noka, sans-serif;

  font-weight: 100;
  
  font-style: normal;
  text-align: center; 
  margin: 3rem auto 0rem auto;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  color: white;
}

.fb-img{
  max-width: 60%;
  max-height: 30rem;
  opacity: 20%;
  margin: 3rem auto 0 auto;
}


/* MAIN */

#main{
    width: 100vw;
}

/* ABOUT ARTICLE */

#about{
    width: 100vw;
    min-height: 100vh;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 0;
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.about-h2{
    
    margin: 2rem auto 2rem auto;
    font-size: 2.5rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;

}

.about-p{
    max-width: 80vw;
    
    margin: 0rem auto 2rem auto;
    font-size: 1.2rem;
    text-align: left;
}

/* COPYWRITING ARTICLE */

#copywriting{
    width: 100vw;
    min-height: 100vh;
    
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 0;
    grid-area: copywriting;
}



.copywriting-h2{
    
    margin: 0 auto 2rem auto;
    font-size: 2.5rem;
    padding-top: 5rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;
}

.copywriting-p{
    max-width: 80vw;
    
    margin: 0rem auto 2rem auto;
    font-size: 1.2rem;
    text-align: left;
}

/* ADA SECTION */

#ada-project{
    width: 80%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 5rem auto;
    text-align: center;
    border: 1px solid gray;
  }
  
  .ada-title{
    font-size: 2rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;
  }
  
  .ada-btn{
    
    font-size: 1.5rem;
    color: #1F2125;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border: 1px solid white;
    cursor: pointer;
    margin: 2rem auto 1rem auto;
  }

  /* MOET SECTION */

  #moet-project{
    width: 80%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem auto 5rem auto;
    text-align: center;
    border: 1px solid gray;
  }
  
  
  .moet-title{
    font-size: 2rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;

  }
  
  
  .moet-btn{
    
    font-size: 1.5rem;
    color: #1F2125;

    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 2rem auto 1rem auto;
    border: 1px solid white;
    cursor: pointer;
  }

  /* ZOE SECTION */

  #zoe-project{
    width: 80%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem auto 5rem auto;
    text-align: center;
    border: 1px solid gray;
  }
  
  
  .zoe-title{
    font-size: 2rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;

  }
  
  
  .zoe-btn{
    
    font-size: 1.5rem;
    color: #1F2125;

    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 2rem auto 1rem auto;
    border: 1px solid white;
    cursor: pointer;
  }

  
/* CONTENT ARTICLE */

#content{
    width: 100vw;
    min-height: 230vh;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 0;
    grid-area: content;
    background-color: #1F2125;
}



.content-h2{
    
    margin: 0 auto 2rem auto;
    font-size: 2.5rem;
    padding-top: 5rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;
}

.content-p{
    max-width: 80vw;
    
    margin: 0rem auto 2rem auto;
    font-size: 1.2rem;
    text-align: left;
}  

/* SUMMER CONTENT */

#summer-text{
    width: 80%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem auto 5rem auto;
    text-align: center;
    border: 1px solid gray;
    padding: 0 0.5rem;
  }
  
  .summer-title{
    font-size: 2rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;

  }
  
  .summer-btn{
    
    font-size: 1.5rem;
    color: #1F2125;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 2rem auto 1rem auto;
    border: 1px solid white;
    cursor: pointer;
  }

  /* BOARD CONTENT */

#board-text{
  width: 80%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem auto 5rem auto;
    text-align: center;
    border: 1px solid gray;
    padding: 0 0.5rem;
  }
  
  .board-title{
    font-size: 2rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;

  }
  
  .board-btn{
    
    font-size: 1.5rem;
    color: #1F2125;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 2rem auto 1rem auto;
    border: 1px solid white;
    cursor: pointer;
  }

  /* THINGS CONTENT */

#things-text{
    width: 80%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem auto 5rem auto;
    text-align: center;
    border: 1px solid gray;
    padding: 0 0.5rem;
  }
  
  .things-title{
    font-size: 2rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;

  }
  
  .things-btn{
    
    font-size: 1.5rem;
    color: #1F2125;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 2rem auto 1rem auto;
    border: 1px solid white;
    cursor: pointer;
  }

  /* STACK ARTICLE */

.stack{
    width: 100vw;
    min-height: 60vh;
    text-align: center;
    margin: 0 0;
    grid-area: stack;
  background-color: #1F2125;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stack-h2{
    margin: 2rem auto 2rem auto;
    font-size: 2rem;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;
    
}

.stack-programmes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    
    margin: 2rem auto 2rem auto;
  }


.program{
    transform: scale(2.5);
  
  }

  .fa-js{
    transform: scale(2.5);
  }

  
/* TOOLS */ 

.tools{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 4rem auto 1rem auto;
  }
  
  .illustrator{
    
    width: 40px;
    height: auto;
  }
  
  .photoshop{
    width: 40px;
    height: auto;
  }
  
  .premiere{
    width: 40px;
    height: auto;
  }
  
  .xd{
    width: 40px;
    height: auto;
  }


  /* GET IN TOUCH ARTICLE */

#touch{
    width: 100vw;
    min-height: 60vh;
    text-align: center;
    margin: 0 auto;
    grid-area: touch;
   
    background-color: #1F2125;
    color: #E8DFCE;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.touch-h2{
    margin: 2rem auto 2rem auto;
    font-size: 1.5rem;
    font-family: noka, sans-serif;
    
    font-weight: 100;
    
    font-style: normal;

}

.phone-number{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto 2rem auto;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
  .envelope-mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.number{
    padding-left: 0.5rem;
}

.mail{
    padding-left: 0.5rem;
}
  

/* FOOTER */

#footer{
    width: 100%;
    min-height: 20vh;
    margin: 0rem auto;

    text-align: center;
    grid-area: footer;
    
    background-color:white;
    
  }
  
  .footer-h4{
    margin: 2rem auto;
    z-index: 50;
    text-align: center;
    font-family: noka, sans-serif;

    font-weight: 100;
    
    font-style: normal;
    color:#1F2125;
    opacity: 100%;
  }
  
  .versions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 80%;
    min-height: auto;
    padding-bottom: 2rem;
    
  }


  .fa-linkedin{
      transform: scale(3.5);
      padding-right: 0.5rem;
      color: #0A65C2;
  }

  .fa-github{
    transform: scale(3.5);
    color: black;
  }

  .fb-img-footer{
    max-width: 60%;
    max-height: 8rem;
    opacity: 100%;
    margin: 1rem auto 0 auto;
  }

  
 

  
  


